.searchBar{
    margin: 2%;
}

.topResultBox{
    margin: 2%;
    h2{
        margin-bottom: 2%;
    }

    .titlesContainer{
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;

        .filmCard{
            margin-bottom: 8%;
        }
    }
}