.topResultBox{
    margin: 2%;
    h2{
        margin-bottom: 2%;
    }

    .titlesContainer{
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;

        .filmCard{
            margin-bottom: 8%;

            .rating{
                margin-bottom: 5%;
            }

            .tip{ 
                margin-left: 4%;
                margin-bottom: 4%;
            }
        }
    }
}

.buttonToggle{
    margin-bottom: 2%;
}


.searchBar{
    margin-top: 3%;
    margin-bottom: 5%;

}


.favBox{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin-left: 4%;

    .filmCard{
        margin-bottom: 8%;

        .rating{
            margin-bottom: 5%;
        }

        .tip{ 
            margin-left: 4%;
            margin-bottom: 4%;
        }
    }

}